@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Poppins', sans-serif;
}

body {
  padding-bottom: 70px; /* chiều cao nav dưới */
}

/* ===== marker phòng ===== */

.pulse-marker {
  width: 18px;
  height: 18px;
  background: #ef4444;
  border-radius: 50%;
  position: relative;

  box-shadow: 0 0 0 3px white;
}

.pulse-marker::after {
  content: '';
  position: absolute;

  width: 36px;
  height: 36px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 50%;
  background: rgba(239, 68, 68, 0.35);

  animation: pulse 1.3s infinite;
}

/* ===== marker user ===== */

.user-marker {
  width: 18px;
  height: 18px;
  background: #2563eb;
  border-radius: 50%;
  position: relative;

  box-shadow: 0 0 0 3px white;
}

.user-marker::after {
  content: '';
  position: absolute;

  width: 36px;
  height: 36px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border-radius: 50%;
  background: rgba(37, 99, 235, 0.35);

  animation: pulse 1.3s infinite;
}

/* ===== animation ===== */

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 1;
  }

  70% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0.3;
  }

  100% {
    transform: translate(-50%, -50%) scale(2.4);
    opacity: 0;
  }
}
